@model IEnumerable<WebFight.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Faixa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Categoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Categoria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Categoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
