@model IEnumerable<WebFight.Models.Certificado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Graduacao_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CertificadoPDF)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Graduacao_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoPDF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCertificado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCertificado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCertificado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
