@model WebFight.Models.Graduacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Graduacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataGraduacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataGraduacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Professor_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Professor_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Graduacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
