@model IEnumerable<WebFight.Models.Graduacao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataGraduacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Professor_Id)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataGraduacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Graduacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Graduacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Graduacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
